.containerTodo {
    display: flex;
}

.sidebar {
    width: 250px;
    color: white;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.content {
    margin-left: 250px; /* Ajusta esto según el ancho de tu barra lateral */
    width: calc(100% - 250px); /* Ajusta esto según el ancho de tu barra lateral */
    padding: 20px;
}

.card-header {
    background-color: #273C75; /* Gris */
    color: #ffffff; /* Texto blanco */
    border-radius: 8px; /* Borde redondeado */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header img {
    border-radius: 50%;
    width: 60px; /* Tamaño de la imagen */
    height: 60px; /* Tamaño de la imagen */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
}

.card-body {
    background-color: #ffffff; /* Blanco */
    color: #333333; /* Texto gris oscuro */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-title {
    color: #333333; /* Color de texto gris oscuro */
}

.btn-primary {
    background-color: #273C75; /* Gris */
    color: #ffffff; /* Texto blanco */
    border-color: #6c757d; /* Borde del mismo color que el fondo */
}


