
<div class="containerTodo">

    <app-sidebar class="sidebar"></app-sidebar>

    <div class="content">
        <div class=" d-flex justify-content-center">
            <!-- Aquí puedes agregar una imagen en lugar del texto -->
            <img src="../../../../../assets/img/logoAdmi.png" alt="Foto de perfil"
                style="border-radius: 50px; margin-top: 10px;">
            <!-- También puedes añadir un texto alternativo -->
        </div>

        <div class="container mt-5">
            <!-- <h1 class="mb-4">Dashboard</h1>--->
            <div class="col-md-9 mx-auto">
                <div class="card mb-3">
                    <div class="card-header">
                        Ventas
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card text-center mb-3">
                                    <div class="card-header">
                                        Ventas Totales
                                    </div>
                                    <div class="card-body">
                                        <h2 class="card-title">{{ sales.totalSales }}/{{ sales.targetSales }}</h2>
                                        <p class="card-text">Meta: {{ sales.targetSales }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card text-center mb-3">
                                    <div class="card-header">
                                        Producto Más Vendido
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title">{{ sales.topProduct }}</h3>
                                        <p class="card-text">Vendido por: {{ sales.topSeller }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 mt-5">
                    <div class="card-header">
                        Gestionar Tareas
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card text-center mb-3">
                                    <div class="card-header">
                                        Inventario
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Gestionar inventario.</p>
                                        <a href="/inventario" class="btn btn-primary">Ver Inventario</a>
                                    </div>
                                </div>
                            </div>

                    

                            <div class="col-md-6">
                                <div class="card text-center mb-3">
                                    <div class="card-header">
                                        Reportes
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Ver reportes..</p>
                                        <a href="/reporte" class="btn btn-primary">Ver Reporte</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card text-center mb-3">
                                    <div class="card-header">
                                        Restablecer Contraseña
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Gestionar restablecimiento de contraseñas.</p>
                                        <a routerLink="/restablecimiento-c" class="btn btn-primary">Restablecer
                                            Contraseña</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
