.floating-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #12e447;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.borders{
    border: 2px solid #4d65a1;
    
    border-radius: 10px;
    
}
.bordersabajo{
    border-bottom: 2px solid #4d65a1;
}
.cartaFondo{
    background-color: #4d65a175;
    
}
.hr{
    color:  #1F2536;
}