<div class="backgroundPrincipal">
  <app-encabezado-compras></app-encabezado-compras>

  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="clienteh1 textcolor ">GamerHub</h1>
    <p class="fs-5 text-body-secondary">Explora nuestra variedad de artículos tecnológicos
      <br>y sumérgete en la experiencia hoy mismo.
    </p>
  </div>
  <!-- Carrusel de imagenes -->

  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <!-- <div class="carousel-item active">
        <img
          src="assets\img\producto1.png"
          class="d-block w-100" alt="...">
      </div> -->
      <!-- <div class="carousel-item">
        <img
          src="assets\img\producto2.png"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="assets\img\producto3.png"
          class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img
          src="assets\img\producto4.png"
          class="d-block w-100" alt="...">
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <!-- Contenedor de filtros -->
      <div class="col-md-4 mb-3 align-items-center">
        <!-- Filtro por categoría -->
        <label for="categoriaSelect" class="form-label  flex-column align-items-center">
          <i class="bi bi-filter-circle"></i> Filtrar por categoría:
        </label>
        <select class="form-select" id="categoriaSelect" [(ngModel)]="selectCategoria"
          (change)="onCategoryChange($event)">
          <option [value]="null">Todas</option>
          @for (categoria of categorias; track $index) {
          <option [value]="categoria.id">{{ categoria.nombreCategoria }}</option>
          }
        </select>
      </div>

      <!-- Filtro por precio -->
      <div class="col-md-4 mb-3 d-flex flex-column align-items-center filter-box">
        <label for="priceRange" class="form-label price-label">
            <i class="bi bi-cash-stack"></i> Filtrar por precio:
        </label>
        <div id="priceRange" class="range-container">
            <input type="range" id="priceRangeMin" class="custom-range range-slider" [(ngModel)]="minPrice" [min]="0" [max]="maxPrice"
                (input)="filtrarProductos()">
            <input type="range" id="priceRangeMax" class="custom-range range-slider" [(ngModel)]="maxPrice" [min]="minPrice"
                [max]="1000" (input)="filtrarProductos()">
        </div>
        <div class="range-value mt-2">
            Precio: <span class="price-value">{{ minPrice }}</span> - <span class="price-value">{{ maxPrice }}</span>
        </div>
    </div>
      <!-- Filtro por nombre -->
      <div class="col-md-4 mb-3 d-flex flex-column align-items-cente">
        <label for="searchName" class="form-label">
          <i class="bi bi-search"></i> Buscar por nombre:
        </label>
        <input type="text" id="searchName" class="form-control" [(ngModel)]="searchName" (input)="filtrarProductos()"
          placeholder="Buscar producto...">
      </div>
  


  <!-- Productos -->
  <div class="container">
    @if (mostrarSiNoHayProducto()) {
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
      <img [src]="noProductsImage" alt="No products found" class="img-fluid center">
    </div>
    } @else {<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-3 text-center">
      @for (producto of productosFiltrados; track $index) {
        <div class="col mb-4">
          <div class="rounded-3 shadow-sm h-100 borders">
            <div class="py-3 bordersabajo cartaFondo">
              <h4 class="my-0 fw-normal clienteh4"><strong>STOCK</strong></h4>
            </div>
            <div class="py-5 cartaFondo2 ">
              @if(producto.id) {
              <img [src]="ImagenProduct[producto.id]" alt="imagen" class="img-fluid product-image">
              }
              @else {
              <img [src]="defaultImage" alt="imagen" class="img-fluid product-image">
              }
  
              <!--<img *ngIf="producto.id" [src]="ImagenProduct[producto.id] || defaultImage" alt="imagen" class="img-fluid"> -->
  
              <h1 class="card-title pricing-card-title">{{ producto.precio | currency }}</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ producto.nombreProducto }}</li>
                <li>{{ producto.descripcion }}</li>
              </ul>
              <button type="button" class="w-75 btn-save btn-min-size" data-bs-toggle="modal" [attr.data-bs-target]="'#modalProducto' + producto.id">Mostrar Detalles</button>
              <br><br>
              <button  class="w-75 btn-edit btn-min-size" type="button" (click)="agregarProductoAlCarrito(producto)">Añadir al carrito</button>


            </div>
          </div>
        </div>
      }


    </div>}



    <div id="floating-message" class="floating-message">
      Producto añadido al carrito
    </div>


    <!-- Modal 1 -->
    @for (producto of productos; track $index) {
    <div class="modal fade" [id]="'modalProducto' + producto.id" tabindex="-1" aria-labelledby="modalProductoLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalProductoLabel">{{ producto.nombreProducto }}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="text-align: left;">
            <p style="color: #FF6347;"><strong>
                <h2>{{ producto.precio | currency }}</h2>
              </strong></p>
            <h4><strong>Características destacadas:</strong></h4>
            <ul>
              <li>{{ producto.descripcion }}</li>
              <li>Stock: {{ producto.stock }}</li>
              <li>Categoria: {{ producto.categoriaId }}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    }

  </div>

</div>
