.floating-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #12e447;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

