<div class="backgroundLogin">
  <div class="dashboard">
    <app-sidebar></app-sidebar>
    <div>
      <div class="outit">
      <div class="background">
        <div>
            <h1>Bienvenido a Productos
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                </svg>
            </h1>
            
        </div>
    </div>

    <div class="dashboard1">
        <div class="tareas cartaFondo2 bordersfino dashboard1 ">
            <h2 class="textcoloradmin clienteh4">Añadir Productos</h2>
            <form class="row g-3 needs-validation" [formGroup]="productoForm" (ngSubmit)="registrarOActualizar()">
              <div class="col-md-4">
                <label for="nombreProducto" class="form-label">Nombre del Producto</label>
                <input type="text" class="form-control" formControlName="nombreProducto" placeholder="Ingrese el nombre del Producto" >
                <div class="text-danger" *ngIf="productoForm.controls['nombreProducto'].invalid && (productoForm.controls['nombreProducto'].touched || productoForm.controls['nombreProducto'].dirty || isFormSubmitted)">
                  <span *ngIf="productoForm.controls['nombreProducto'].errors?.['required']">El nombre es obligatorio</span>
                </div>
              </div>
            
              <div class="col-md-4">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" formControlName="precio" placeholder="Ingrese el precio" >
                <div class="text-danger" *ngIf="productoForm.controls['precio'].invalid && (productoForm.controls['precio'].touched || productoForm.controls['precio'].dirty || isFormSubmitted)">
                  <span *ngIf="productoForm.controls['precio'].errors?.['required']">El precio es obligatorio</span>
                </div>
              </div>
            
              <div class="col-md-4">
                <label for="caracteristicas" class="form-label">Características</label>
                <input type="text" class="form-control" formControlName="caracteristicas" placeholder="Ingrese las características" >
                <div class="text-danger" *ngIf="productoForm.controls['caracteristicas'].invalid && (productoForm.controls['caracteristicas'].touched || productoForm.controls['caracteristicas'].dirty || isFormSubmitted)">
                  <span *ngIf="productoForm.controls['caracteristicas'].errors?.['required']">Las características son obligatorias</span>
                </div>
              </div>
            
              <div class="col-md-4">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" formControlName="stock" placeholder="Ingrese el stock" >
                <div class="text-danger" *ngIf="productoForm.controls['stock'].invalid && (productoForm.controls['stock'].touched || productoForm.controls['stock'].dirty || isFormSubmitted)">
                  <span *ngIf="productoForm.controls['stock'].errors?.['required']">El stock es obligatorio</span>
                </div>
              </div>
            
              <div class="col-md-4">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" formControlName="descripcion" placeholder="Ingrese la descripción" >
                <div class="text-danger" *ngIf="productoForm.controls['descripcion'].invalid && (productoForm.controls['descripcion'].touched || productoForm.controls['descripcion'].dirty || isFormSubmitted)">
                  <span *ngIf="productoForm.controls['descripcion'].errors?.['required']">La descripción es obligatoria</span>
                </div>
              </div>
            
              <div class="col-md-4">
                <label for="categoriaId" class="form-label">Categoría</label>
                <select id="categoriaId" formControlName="categoriaId" class="form-control" >
                  <option value="">Seleccione una categoría</option>
                  <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombreCategoria }}</option>
                </select>
              </div>
            
              <div class="col-md-4">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="file" class="form-control" id="imagen" (change)="onFileChange($event)" >
              </div>
            
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Agregar Producto</button>
              </div>
            </form>
            </div>
            <div class="dashboard2 dashboard1 cartaFondo2 bordersfino tareas ">
              <h2 class="textcoloradmin clienteh4">Lista de Productos</h2>
              <br>
              <div class="row g-3">
                <div class="col-md-4">
                  <label class="form-label" for="searchPrice">Precio:</label>
                  <input class="form-control" type="text" id="searchPrice" (keyup)="applyFilters()" >
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="searchProductName">Nombre de producto:</label>
                  <input class="form-control" type="text" id="searchProductName" (keyup)="applyFilters()" >
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="searchCategory">Categoría:</label>
                  <input class="form-control" type="text" id="searchCategory" (keyup)="applyFilters()" >
                </div>

                <div>
                  <button class="btn btn-primary" (click)="resetFilters()">Nueva busqueda</button>
                </div>
              </div>
              <br>
            <table class="tableprimer">
                <thead>
                  <tr>
                    <th scope="col">Nombre del Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                
                <tr *ngFor="let producto of productos; let i = index">
                    <td>{{ producto.nombreProducto }}</td>
                    <td>{{ producto.precio}}</td>
                    <td><img class="product-image" title="{{producto.imagen}}" src="data:image/png;base64,{{producto.imagen}}"></td>
                    <td>{{ producto.categoria?.nombreCategoria }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button (click)="eliminarProducto(producto.id)" type="button" class="btn btn-danger">Eliminar</button>
                                
                                <button  (click)="iniciarEdicion(producto)" class="btn btn-warning" type="button" >Editar</button>
                            
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
        </div>
  </div>    
</div>

    
