.dashboard{
    display: flex;
}

.outit{
    width: 100%;
    height: auto;
}

.background{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-size: cover;
    width:100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center top;
}

.background h1 {
    font-size: 50px; /* Tamaño del texto */
    color: rgb(252, 252, 252); /* Color del texto */
    padding: 50px; /* Espacio alrededor del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto dentro del <p> */
}

.dashboard1{
    padding: 30px;
    margin-bottom: 60px;

}
.dashboard2{
    padding: 10px;
}