<div class="notification-icon d-flex justify-content-end" (click)="toggleNotifications()">
    <i class="bi bi-bell" style="margin-right: 10px;"></i>
    <span *ngIf="unreadNotificationsCount > 0" class="badge bg-danger">{{ unreadNotificationsCount }}</span>
</div>

<div *ngIf="showNotifications" class="notification-panel">
    <div *ngIf="notifications.length > 0">
        <div *ngFor="let notification of notifications; let i = index" class="notification-item"
            [class.unread]="!notification.read" (mouseover)="markAsRead(i)">
            <div class="notification-content">
                <p [class.read]="notification.read">
                    {{ notification.type }}: {{ notification.message }}
                </p>
                <div *ngIf="i < notifications.length - 1" class="notification-divider"></div>
            </div>
        </div>
    </div>
    <div *ngIf="notifications.length === 0">
        <p>Sin notificaciones :D</p>
    </div>
</div>