<section class="section section-md bg-default">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <h3>Detalles de Contacto</h3>
        <p class="text-gray-600">En esta página puedes encontrar todos los contactos necesarios para ponerte en contacto conmigo si deseas colaborar, reservar un evento en vivo o hacer una pregunta.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-lg bg-default">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <h3>Ponte en contacto conmigo</h3>
        <p class="text-gray-600">No dudes en dejar un mensaje o hacer una pregunta usando el formulario de contacto a continuación.</p>
      </div>
    </div>
    <form [formGroup]="contactoForm" (ngSubmit)="onSubmit()" class="rd-form rd-mailform text-left">
      <div class="row row-40">
        <div class="col-lg-4">
          <div class="form-wrap">
            <label class="form-label" for="contact-name">Nombre</label>
            <input class="form-input" id="contact-name" type="text" formControlName="name" placeholder="Ingresa tu nombre">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-wrap">
            <label class="form-label" for="contact-phone">Teléfono</label>
            <input class="form-input" id="contact-phone" type="text" formControlName="phone" placeholder="Ingresa tu teléfono">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-wrap">
            <label class="form-label" for="contact-email">Correo Electrónico</label>
            <input class="form-input" id="contact-email" type="email" formControlName="email" placeholder="Ingresa tu correo electrónico">
          </div>
        </div>
        <div class="col-lg-12 centered">
          <div class="form-wrap">
            <label class="form-label" for="contact-message">Mensaje</label>
            <textarea class="form-input" id="contact-message" formControlName="message" rows="4" placeholder="Escribe tu mensaje"></textarea>
          </div>
          <button class="btn-save btn-min-size" type="submit">Enviar Mensaje</button>
        </div>
      </div>
    </form>
    <div *ngIf="showNotification" class="alert alert-success" role="alert">
      El mensaje se envió con éxito.
    </div>
  </div>
</section>

<div class="row row-50 justify-lg-content-center row-custom-border">
  <div class="col-lg-4 col-md-6">
    <div class="box-icon-classic">
      <div class="icon novi-icon icon-primary icon-lg fl-bigmug-line-cellphone55"></div>
      <h5 class="box-icon-classic-title">Teléfonos</h5>
      <ul class="box-icon-classic-list">
        <li><a href="tel:#">Teléfono 01: +1 (409) 987–5874</a></li>
        <li><a href="tel:#">Teléfono 02: +1 (409) 987–5874</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="box-icon-classic">
      <div class="icon novi-icon icon-primary icon-lg fl-bigmug-line-big104"></div>
      <h5 class="box-icon-classic-title">Dirección</h5>
      <ul class="box-icon-classic-list">
        <li><a href="#">6036 Richmond hwy., <br> Alexandria, VA, 2230</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="box-icon-classic">
      <div class="icon novi-icon icon-primary icon-md fl-bigmug-line-email64"></div>
      <h5 class="box-icon-classic-title">Correos Electrónicos</h5>
      <ul class="box-icon-classic-list">
        <li><a href="mailto:#">info.org</a></li>
        <li><a href="mailto:#">maile.org</a></li>
      </ul>
    </div>
  </div>
</div>