<h2 class="card-title text-center">Registro</h2>
<form [formGroup]="registerForm" (ngSubmit)="onRegister($event)">
    <div class="mb-3 text-center">

        <img [src]="profilePicturePreview || perfilDefault" alt="Profile picture" class="img-thumbnail rounded-circle"
            width="150" (click)="triggerFileInput()" style="cursor: pointer;">

        <input id="profilePicture" type="file" (change)="onProfilePictureChange($event)" class="form-control"
            accept="image/*" style="display: none;">
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName" class="form-label">
                <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder=" ">
                <span class="label_name"><i class="bi bi-person"> Nombre</i></span>
            </label>

        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName" class="form-label">
                <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder=" ">
                <span class="label_name"><i class="bi bi-person"> Apellido</i></span>
            </label>

        </div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">
            <input id="email" formControlName="email" type="email" class="form-control" placeholder=" ">
            <span class="label_name"><i class="bi bi-envelope-at"> Email</i></span>
        </label>

    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="userName" class="form-label">
                <input id="userName" formControlName="userName" type="text" class="form-control" placeholder=" "
                    maxlength="50">
                <span class="label_name"><i class="bi bi-person-badge"> Nombre de Usuario</i></span>
            </label>

        </div>
        <div class="col-md-6 mb-3">
            <label for="phoneNumber" class="form-label">
                <input id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control" placeholder=" "
                    maxlength="10" pattern="[0-9]{10}">
                <span class="label_name"><i class="bi bi-phone"> Numero de Telefono</i></span>
            </label>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="password" class="form-label">
                <input id="password" formControlName="password" type="password" class="form-control password-match"
                    placeholder=" ">
                <span class="label_name"><i class="bi bi-shield-lock"> Contraseña</i></span>
            </label>

        </div>
        <div class="col-md-6 mb-3">
            <label for="confirmPassword" class="form-label">
                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                    placeholder=" " [ngClass]="{ 'password-match-invalid': !passwordMatch }">
                <span class="label_name"><i class="bi bi-shield-lock"> Confirmar Contraseña</i></span>
            </label>

        </div>
    </div>
    <button type="submit" [disabled]="!registerForm.valid"  class="btn btn-primary">Registrate</button>
</form>