<div class="backgroundSecundario">
<div class="dashboard">
  <div>
    <app-sidebar></app-sidebar>
</div>
<div class="outit">
<div class="backgroundemployee">
    <div>
        <h1 class="secondh1 textcolorsecond">Bienvenido Gestor
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-joystick" viewBox="0 0 16 16">
                <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2"/>
                <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23"/>
              </svg>
        </h1>
        
    </div>
</div>

  <div class="dashboard1">
  <div class="dashboard2 ">
    
    <div class="tareas cartaFondo2">
        <h2 class="textcoloradmin clienteh4">Tareas pendientes</h2>
        <div>
            <table class="tableprimer bordersfino ">
                <thead>
                <tr class="secondh5">
                    <th scope="col">#</th>
                    <th class="" scope="col">Tareas pendientes</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Terminar Actividades de Reportes</td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <div class="" role="group" aria-label="First group">
                              <button type="button" class="btn-edit btn-min-size btn-espacio">Terminada</button>
                              
                              <button type="button" class="btn-delete btn-min-size">Reportar</button>
                              
                            </div>
                          </div>
                    </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                    <td>Terminar Actividades de Reportes</td>
                    <td>
                        <div class="d-flex justify-content-end" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group">
                              
                              <button type="button" class="btn btn-outline-secondary">Terminada</button>
                              <button type="button" class="btn btn-outline-secondary"> Reportar </button>
                            </div>
                          </div>
                    </td>
                    </tr>
                </tbody>
            
            </table>
        </div>
    </div>

    </div>

    <div class="dashboard2">
        <div class="container text-center">
            <div class="row">
              <div class="col tareas">
                <h2>Metas cumplidas </h2>
                <div>
                  <h3>4/10</h3>
                  <br>
                  <button type="button" class="btn btn-outline-success">Ver mas metas</button>
                </div>
              </div>
              
              <div class="col tareas">
                <h2>Atajos </h2>
                <div class="button_container">
                  <button type="button" class="btn btn-outline-dark custom-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                  </svg> Agregar Producto</button>
                  <button type="button" class="btn btn-outline-dark custom-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                    <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
                  </svg> Agregar Categoria</button>
                  <br>
                  <button type="button" class="btn btn-outline-dark custom-button">Ver las ventas </button>
                  <button type="button" class="btn btn-outline-dark custom-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                    <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21 21 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21 21 0 0 0 14 7.655V1.222z"/>
                  </svg> Reportar</button>
                </div>
            </div>
          </div>
    </div>  

  </div>
</div>
</div>

</div>