<app-encabezado-compras></app-encabezado-compras>
<div class="backgroundPrincipal">
  <main>
    <div class="header-section">
      <h1 class="h1">Mis Compras</h1>
    </div>

    <div class="container">
      <!-- Sección para gestionar devoluciones -->
      <div class="box">
        <h3>Gestión de Devoluciones</h3>
        <form [formGroup]="devolucionForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="numero-factura">Código de Compra:</label>
            <input type="text" id="numero-factura" formControlName="numeroFactura" placeholder="Ingrese el número de factura">
          </div>
          <div class="form-group">
            <label for="motivo-devolucion">Motivo de Devolución:</label>
            <textarea id="motivo-devolucion" formControlName="motivoDevolucion" rows="4" placeholder="Explique el motivo de la devolución"></textarea>
          </div>
          <button class="btn-save btn-min-size" type="submit" [disabled]="!devolucionForm.valid">Solicitar Devolución</button>
        </form>
        <div *ngIf="showNotification" class="alert alert-success" role="alert">
          Solicitud de devolución realizada con éxito.
        </div>
      </div>

      <!-- Nueva sección para gestionar devoluciones existentes -->
      <div class="box">
        <h3>Devoluciones Registradas</h3>
        <div class="table-responsive small">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Código de Compra</th>
                <th scope="col">Motivo de Devolución</th>
                <th scope="col">Fecha de Solicitud</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let devolucion of devoluciones">
                <td>{{ devolucion.codigoCompra }}</td>
                <td>{{ devolucion.motivoDevolucion }}</td>
                <td>{{ devolucion.fechaSolicitud | date: 'yyyy-MM-dd' }}</td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="eliminarDevolucion(devolucion.id)">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    
    <div class="history-section">
      <h2>Historial de Compras</h2>
      <div class="search-bar">
        <div class="form-group">
          <label for="searchDate" class="search-bars">Buscar por Fecha:</label>
          <input type="date" id="searchDate" (input)="filterByDate($event)">
        </div>
        <div class="form-group">
          <label for="searchProductName" class="search-bars">Buscar por Nombre de Producto:</label>
          <input type="text" id="searchProductName" (input)="filterByProductName($event)">
        </div>
        <div class="form-group">
          <label for="searchInvoiceNumber" class="search-bars">Buscar por Número de Factura:</label>
          <input type="text" id="searchInvoiceNumber" (input)="filterByInvoiceNumber($event)">
        </div>
      </div>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col"># Factura</th>
              <th scope="col">Código de Compra</th>
              <th scope="col">Artículo</th>
              <th scope="col">Costo</th>
              <th scope="col">Fecha de Salida</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let purchase of filteredPurchases">
              <td>{{ purchase.factura }}</td>
              <td>{{ purchase.codigoCompra }}</td>
              <td>{{ purchase.articulo }}</td>
              <td>{{ purchase.costo }}</td>
              <td>{{ purchase.fechaSalida }}</td>
              <td>{{ purchase.estado }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
