<nav class=" navbar navbar-css navbar-expand-lg  ">

  <div class="container-fluid">
    <div class="nav-img navbar-brand">
      <img src="assets/svg/icono_gamerhub.svg" alt="logo" width="55px" height="55px" class="d-inline-block align-text-top">  
    </div>
    <a class="navbartitle navbar-brand" href="#">GamerHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="menu navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/productos">Productos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/carrito">Orden de compra</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/detalle-producto">Detalle de compra</a>
        </li>

      </ul>

      <ul class="navbar-nav ms-auto">
        <!-- Mostrar solo si el usuario está autenticado -->
        <ng-container *ngIf="">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img [src]="" (click)="userEdit()" alt="Profile Picture" width="30" height="30"
                class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" routerLink="/client">Perfil</a></li>
              <li><a class="dropdown-item" routerLink="/historial">Historial</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a></li>
            </ul>
          </li>
        </ng-container>
        
        <!-- Mostrar solo si el usuario NO está autenticado -->
        <ng-container >
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-container>
        
        <!-- Notificaciones -->
        

      </ul>
      <!-- Arreglar -->
      <ng-container>

        <app-security-notifications></app-security-notifications>
    </ng-container>
    </div>

  </div>

</nav>