
<div class="backgroundPrincipal">
<app-encabezado-compras></app-encabezado-compras>
<div class="container mt-5">
    <h3>Detalle de Compra</h3>
    <form>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="orderDate" class="form-label">Fecha</label>
          <input type="date" class="form-control" id="orderDate">
        </div>
        <div class="col-md-6">
          <label for="buyerName" class="form-label">Nombres</label>
          <input type="text" class="form-control" id="buyerName">
        </div>
        <div class="col-md-6">
          <label for="buyerUser" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="buyerUser">
        </div>
        <div class="col-md-6">
          <label for="buyerAddress" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="buyerAddress">
        </div>
        <div class="col-md-6">
          <label for="buyerPhone" class="form-label">Teléfono</label>
          <input type="tel" class="form-control" id="buyerPhone">
        </div>
        <div class="col-md-6">
          <label for="buyerEmail" class="form-label">Correo</label>
          <input type="email" class="form-control" id="buyerEmail">
        </div>
      </div>
        <button type="submit" class="btn btn-primary">Enviar Orden</button>
    </form>
    <br><br>
  </div>
</div>
