<main>

    <form>
      <body>
        <div class="title"
        >
        <label>
          <h1>Comentarios</h1>
        </label>
        
      </div>
        <div>
          <div class="container">
            <div class="box" >
                <h2>Mis compras sin reseñar</h2>
                <P>Numero de fatura</P>
                <select>  
                  <option>
                    Peras
                   </option>
                </select>
                
                <p>Aqui se llama a los valores de la base de datos</p>
               
                <!-- Más contenido aquí -->
            </div>
          
        </div>
        </div>
      </body>
        <hr>
        <div id="rating" class="rating">
          <div class="form-group">
            <label for="rating">Calidad del producto (0-5):</label>
            <div id="rating" class="rating">
                <input type="range" name="rating" id="ratingInput" min="0" max="5" step="1" value="5">
                <output class="rating-output" for="rating"></output>
            </div>
        </div>
        </div>
          
          
      
      <div class="left box-primary">
       
        <h6 class="username" id="username"> 
          <img class="image" src="" alt="" />
           Maria 
          
        </h6>
        
      </div>
        <div class="form-group">
          <textarea cols="100" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar comentario</button>
      </form>
    </main>
    