<nav class="d-flex flex-column p-3 sidebar">

  <h3 class="pb-3 mb-3 border-bottom text-white">Admin Panel</h3>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/admin/verification" class="nav-link text-white">
        Verificación
      </a>
    </li>
    <li>
      <a routerLink="/admin/inventory" class="nav-link text-white">
        Inventario
      </a>
    </li>
    <li>
      <a routerLink="/admin/completed-tasks" class="nav-link text-white">
        Tareas Terminadas
      </a>
    </li>
    <li>
      <a routerLink="/admin/tasks" class="nav-link text-white">
        Tareas
      </a>
    </li>
    <li>
      <a routerLink="/admin/manage-employees" class="nav-link text-white">
        Gestión de Empleados
      </a>
    </li>
  </ul>

</nav>
