<nav class="d-flex flex-column p-3 sidebar fixed-top" >
  <h3 class="pb-3 mb-3 border-bottom text-white text-center">Admin Panel</h3>
  
  <!-- User Profile Section -->
  <div class="user-profile mb-3 d-flex flex-column align-items-center">
    <img [src]="this.ImgAdmin" alt="Foto del Usuario" class="img-thumbnail rounded-circle mb-2 user-photo">
    <div class="text-white text-center">
      <p>{{ this.nameAdmin}}</p>
      <p>{{ this.emailAdmin }}</p>
    </div>
  </div>
  <!-- End User Profile Section -->
  <h3 class="pb-3 mb-3 border-bottom text-white "></h3>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Logout</a>
    </li>
  </ul>

</nav>
