<div class="backgroundLogin">
    <app-encabezado-compras></app-encabezado-compras>
    <div class="container d-flex flex-column align-items-center justify-content-center vh-100">
        <div class="card w-100">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="showLogin" (click)="showLogin = true ; resetForms()">Login <i class="bi bi-person-circle"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="!showLogin" (click)="showLogin = false" >Registrate <i class="bi bi-clipboard2-plus"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                @if (showLogin) {
                    <h2 class="card-title text-center">Login</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <div class="mb-3">
                            <label for="email" class="form-label">
                                <input id="email" formControlName="email" type="email" class="form-control" placeholder=" ">
                                <span class="label_name"><i class="bi bi-envelope-at">    Email</i></span>
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">
                                <input id="password" formControlName="password" class="form-control" type="password"
                                    placeholder=" ">
                                <span class="label_name"><i class="bi bi-shield-lock">    Contraseña</i></span>
                                
                            </label>
                        </div>
                        @if (showLogin && !showAdminLogin) {
                            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                        }
                    </form>
                    @if (showAdminLogin) {
                        <app-login-adm></app-login-adm>
                    }
                } @else {
                    <div class="mb-3 text-center">
                        <app-register></app-register>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
