<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="card w-100">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="showLogin" (click)="showLogin = true">Login <i class="bi bi-person-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="!showLogin" (click)="showLogin = false">Registrate <i class="bi bi-clipboard2-plus"></i></a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div *ngIf="showLogin; else registerTemplate">
                <h2 class="card-title text-center">Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="mb-3">
                        <label for="email" class="form-label">
                            <input id="email" formControlName="email" type="email" class="form-control" placeholder=" ">
                            <span class="label_name"><i class="bi bi-envelope-at">    Email</i></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">
                            <input id="password" formControlName="password" type="password" class="form-control"
                                placeholder=" ">
                            <span class="label_name"><i class="bi bi-shield-lock">    Contraseña</i></span>
                        </label>

                    </div>
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                </form>
            </div>
            <ng-template #registerTemplate>
                <h2 class="card-title text-center">Registro</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onRegister($event)">
                    <div class="mb-3 text-center">

                        <img [src]="profilePicturePreview || perfilDefault" alt="Profile picture"
                            class="img-thumbnail rounded-circle" width="150" (click)="triggerFileInput()"
                            style="cursor: pointer;">

                        <input id="profilePicture" type="file" (change)="onProfilePictureChange($event)"
                            class="form-control" accept="image/*" style="display: none;">
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label">
                                <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder=" ">
                                <span class="label_name"><i class="bi bi-person">    Nombre</i></span>
                            </label>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName" class="form-label">
                                <input id="lastName" formControlName="lastName"
                                    type="text" class="form-control" placeholder=" ">
                                <span class="label_name"><i class="bi bi-person">    Apellido</i></span>
                            </label>

                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">
                            <input id="email" formControlName="email" type="email"
                                class="form-control" placeholder=" ">
                            <span class="label_name"><i class="bi bi-envelope-at">    Email</i></span>
                            </label>

                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="userName" class="form-label">
                                <input id="userName" formControlName="userName"
                                    type="text" class="form-control" placeholder=" ">
                                <span class="label_name"><i class="bi bi-person-badge">    Nombre de Usuario</i></span>
                                </label>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="phoneNumber" class="form-label"> 
                                <input id="phoneNumber"
                                    formControlName="phoneNumber" type="text" class="form-control" placeholder=" ">
                                <span class="label_name"><i class="bi bi-phone">    Numero de Telefono</i></span>
                                </label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="password" class="form-label">
                                <input id="password" formControlName="password"
                                    type="password" class="form-control" placeholder=" ">
                                <span class="label_name"><i class="bi bi-shield-lock">    Contraseña</i></span>
                                </label>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="confirmPassword" class="form-label">
                                <input id="confirmPassword" formControlName="confirmPassword" type="password"
                                    class="form-control" placeholder=" ">
                                <span class="label_name"><i class="bi bi-shield-lock">    Confirmar Contraseña</i></span>
                                </label>

                        </div>
                    </div>
                    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Registrate</button>
                </form>
            </ng-template>
        </div>
    </div>
</div>