<nav class="sidebar d-flex flex-column">
    <div id="topbar" class="sidebar-sticky pt-1">
        <ul class="nav flex-column">
          <li>
            <a class="navbar-brand" routerLink="/management/">
              <img src="assets/svg/icono.svg" class="img-fluid mb-3">
            </a> 
          </li>
        </ul>
      </div>
    
    <hr>
    <div class="company">
        <img src="assets/svg/person-circle.svg" width="50" height="50">
        <a class="nav-link " routerLink="/profile/">Perfil</a>
      <div>
        <p>cambiar foto</p>
      </div>
      
    </div>
    
    <div class="sidebar-sticky pt-1 flex-grow-1">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { secundario: ['employee'] } }]" routerLinkActive="active/">Manager
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="[{ outlets: { secundario: ['add-product'] } }]"  >
            Productos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { secundario: ['saleshistory'] } }]" routerLinkActive="active">
            Historiales
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { secundario: ['reports'] } }]"  routerLinkActive="active">
            Reportes
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            Settings
          </a>
        </li> -->
      </ul>
    </div>
    <div class="sidebar-sticky mt-auto">
      <ul class="nav flex-column">
        <li >
        <a class="nav-link" href="#">Ayuda</a>
        </li>
        <li>
        <a class="nav-link" href="#">Salir</a>
        </li>
      </ul>
    </div>
  </nav>
  