<nav class="sidebar d-flex flex-column">
    <div id="topbar" class="sidebar-sticky pt-1">
        <ul class="nav flex-column">
          <li>
            <a class="navbar-brand" routerLink="/management/">
              <img src="assets/svg/icono_gamerhub.svg" class="img-fluid mb-3" width="200" height="200" style="align-items: center;">
            </a> 
          </li>
        </ul>
      </div>

        <div class="company">
        <img src="assets/svg/person-circle.svg" width="50" height="50" fill="currentColor">
        <a class="nav-link " routerLink="/profile/">Perfil</a>
        
        <a>cambiar foto</a>  
        </div>
    <br>
    <div class="menubar">
    <div class="sidebar-sticky pt-1 flex-grow-1">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/management" routerLinkActive="active/">Manager
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/addproduct" routerLinkActive="active/">
            Productos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { secundario: ['saleshistory'] } }]" routerLinkActive="active">
            Historiales
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/returns" routerLinkActive="active">
            Reportes
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            Settings
          </a>
        </li> -->
      </ul>
    </div>
    <div class="sidebar-sticky mt-auto">
      <ul class="nav flex-column mt-auto">
        <li >
        <a class="nav-link" href="#">Ayuda</a>
        </li>
        <li>
        <a class="nav-link" href="#">Salir</a>
        </li>
        <br>
        <br>
      </ul>
    </div>
  </div>
  </nav>
